{% extends 'myapp/base.html' %}
{% load static %}

{% block content %}
<div class="wrapper_catalog">
  <div class="container">
    <h1>
      Найкращі товари <br>
      за найкращими <span>ЦІНАМИ</span>
    </h1>

    <div class="catalog-content">
      <div class="filter">
        <form method="get">
          <input type="text" name="search" placeholder="Назва" value="{{ search_query }}">
          <input type="number" id="min_price" name="min_price" placeholder="Мінімальна ціна" value="{{ min_price }}">
          <input type="number" id="max_price" name="max_price" placeholder="Максимальна ціна" value="{{ max_price }}">
          <button type="submit">Застосувати</button>
        </form>
        <p>Знайдено {{ items.count }} результати(-ів)</p>
      </div>

      <div class="product-list">
        {% for item in items %}
        <a class="product-item" href="{{ item.id }}">
          <img src="{{ item.image.url }}" alt="">
          <div class="product-item__wrap">
            <h3>{{ item.name }}</h3>
            <p class="price">{{ item.price }} $</p>
          </div>
        </a>
        {% endfor %}
      </div>
    </div>
  </div>
</div>
{% endblock %}